<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vue Validation</title>
    
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="container">
        <div id="app">
            <component :is='componentName'></component>
        </div>

        <template id="signUp">
            <div class="box">
                <h1 class="form-title">CREATE NEW ACCOUNT</h1>
                <h4 class="form-subtitle">Join the community of millions</h4>
                <br><br>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-input" id="emailInput" placeholder="email" v-model='email'>
                        <br>    
                        <p v-if='error.email' class="error-msg">{{error.email}}</p>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-input" id="newPasswordInput" placeholder="password" v-model='newPassword'>
                        <br>
                        <p v-if='error.newPassword' class="error-msg">{{error.newPassword}}</p>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-input" id="confirmPasswordInput" placeholder="confirm password" v-model='confirmPassword'>
                        <br>
                        <p v-if='error.confirmPassword' class="error-msg">{{error.confirmPassword}}</p>
                    </div>
                    <input type="submit" class="btn-submit" value="Proceed" :disabled='disableSubmit'>
                </form>
                <br>
                <h3 class="login-link">Already have an account? <span class="btn-login">Log In</span></h3>
            </div>
        </template>
    </div>

    <script src="js/script.js"></script>
</body>
</html>